{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sistema Bancario{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1">
  {% block styles %} {% endblock %}
  <script type="module" src="{% static 'js/script.js' %}?v=1" defer></script>
</head>
<body>
  <header>
    <button class="nav-toggle" aria-expanded="false" aria-controls="nav-menu">≡</button>
    {% block header %}
      <h1>Sistema Bancario</h1>
    {% endblock %}
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </header>
  <nav>
    {% block nav %}
    <ul>
      <li><a href="{% url 'bankingsys:index' %}">Home</a></li>
      <li><a href="{% url 'bankingsys:client_register' %}">Registrar Cliente</a></li>
      <li><a href="{% url 'bankingsys:account_opening' %}">Abrir Nueva Cuenta</a></li>
      <li><a href="{% url 'bankingsys:judicial_hold_register' %}">Registrar Embargo</a></li>
      <li>
        <p>Listas</p>
        <ul class="nav-item">
          <li><a href="{% url 'bankingsys:tests' %}">Pruebas</a></li>
          <li><a href="{% url 'bankingsys:users' %}">Usuarios</a></li>
          <li><a href="{% url 'bankingsys:clients' %}">Clientes</a></li>
          <li><a href="{% url 'bankingsys:account_list' %}">Cuentas</a></li>
          <li><a href="{% url 'bankingsys:judicial_holds' %}">Embargos Judiciales</a></li>
          <li><a href="{% url 'bankingsys:account_movements' %}">Movimientos de Cuenta</a></li>
        </ul>
      </li>
      <li><a href="{% url 'bankingsys:logout' %}">Logout</a></li>
    </ul>
    {% endblock %}
  </nav>
  <main>
    {% block content %}
    <h2>Bienvenido al Sistema Bancario</h2>
    <p>Esta es la página principal de la aplicación del sistema bancario.</p>
    {% endblock %}
  </main>
  <footer>
    {% block footer %}© 2025 Sistema Bancario{% endblock %}
  </footer>
</body>
</html>