{% extends 'bankingsys/index.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/client/register.css' %}?v=1">
{% endblock %}

{% block header %}
  <h1>Sistema Bancario - Registro de Clientes</h1>
{% endblock %}

{% block content %}
  <div class="actions-bar">
    <button class="add-client-btn">Agregar</button>
    <div class="searcher">
      <input type="text">
      <button>B</button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>RUC/DNI</th>
        <th>Nombre</th>
        <th>Tipo de Cliente</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr class="client-row">
          {% if client.dni %}
            <td class='client-id'>{{ client.dni }}</td>
          {% else %}
            <td class='client-id'>{{ client.ruc }}</td>
          {% endif %}
          <td class='client-name'>{{ client.name }}</td>
          <td>{{ client.get_client_type_display }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.email }}</td>
          <td>
            <p>TODO</p>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">No hay clientes registrados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-container">
    <form method="post" id="register-client-form">
      <div>
        <input type="text" id="ruc-dni" placeholder="RUC o DNI">
        <button type="button">B</button>
      </div>
      <div class="retrived-data">
        <div>
          <p>Nombre:</p>
          <p id="client-name">-</p>
        </div>
        <div>
          <p>Tipo de Cliente:</p>
          <p id="client-type">-</p>
        </div>
        <div>
          <label for="client-address">Dirección:</label>
          <input type="text" id="client-address" required>
        </div>
        <div>
          <label for="client-phone">Teléfono:</label>
          <input type="tel" id="client-phone" required>
        </div>
        <div>
          <label for="client-email">Email:</label>
          <input type="email" id="client-email" required>
        </div>
      </div>
      <button type="submit">Registrar Cliente</button>
    </form>
  </div>
{% endblock %}