{% extends 'bankingsys/index.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/client/register.css' %}?v=1">
{% endblock %}

{% block header %}
  <h1>Sistema Bancario - Registro de Clientes</h1>
{% endblock %}

{% block content %}
  <form method="post" id="register-client-form">
    <div>
      <input type="text" id="ruc-dni" placeholder="RUC o DNI">
      <button type="button">B</button>
    </div>
    <div class="retrived-data">
      <div>
        <p>Nombre:</p>
        <p id="client-name">-</p>
      </div>
      <div>
        <p>Tipo de Cliente:</p>
        <p id="client-type">-</p>
      </div>
      <div>
        <label for="client-address">Dirección:</label>
        <input type="text" id="client-address" required>
      </div>
      <div>
        <label for="client-phone">Teléfono:</label>
        <input type="tel" id="client-phone" required>
      </div>
      <div>
        <label for="client-email">Email:</label>
        <input type="email" id="client-email" required>
      </div>
    </div>
    <button type="submit">Registrar Cliente</button>
  </form>
{% endblock %}