{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/portal/dashboard.css' %}?v=1.0">
  {% block styles %}{% endblock styles %}
  <title>Portal</title>
</head>
<body>
  
  <header class="main-header-dashboard">
    <div class="header-container">
      
      <!-- Columna Izquierda: Links de Navegación -->
      <nav class="header-nav">
        <a href="{% url 'portal:dashboard' %}" class="nav-link active">
          <span class="nav-text">Inicio</span>
        </a>
        <a href="#" class="nav-link">
          <span class="nav-text">Cuenta</span>
        </a>
        <a href="{% url 'portal:deposito' %}" class="nav-link">
          <span class="nav-text">Depósitos</span>
        </a>
        <a href="{% url 'portal:retiro' %}" class="nav-link">
          <span class="nav-text">Retiros</span>
        </a>
        <a href="#" class="nav-link">
          <span class="nav-text">Transferencia</span>
        </a>
      </nav>

      <!-- Columna Central: Título -->
      <div class="header-title">
      {% block header_title %}
        <h1>Portal Dashboard</h1>
      {% endblock header_title %}
      </div>

      <!-- Columna Derecha: Cerrar Sesión -->
      <div class="header-logout">
        <a class="logout" href="{% url 'logout' %}">Cerrar Sesión</a>
      </div>

    </div>
  </header>

  <main>
    <div class="notifications">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              <button class="close-notification">x</button>
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %} 
    </div>

    {% block content %}
    {% endblock content %}
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      setTimeout(() => {
        document.querySelectorAll('.messages li').forEach(li => {
          li.classList.add('disabled');
          setTimeout(() => {
            li.classList.add('removed');
            li.remove();
          }, 500);
        });
      }, 5000);
    });

    document.querySelectorAll('.close-notification').forEach(ele => {
      ele.addEventListener('click', () => {
        const li = ele.parentElement;
        li.classList.add('disabled');
        setTimeout(() => {
          li.classList.add('removed');
          li.remove();
        }, 500);
      });
    });
  </script>
</body>
</html>