/* Clients Register */

main.cliente-register-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

main > #register-client-form {
  --inline-padding: 32px;
  --block-padding: 16px;
  width: calc(clamp(250px, 30%, 400px) + var(--inline-padding) * 2);
  height: calc(clamp(350px, 75%, 425px) + var(--block-padding) * 2);
  min-width: 0;
  min-height: 0;
  overflow: auto;
  scrollbar-width: none;
  padding: var(--block-padding) var(--inline-padding);
  border: 3px solid black;
  border-radius: 8px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

main > #register-client-form > *:first-child > #ruc-dni:invalid {
  outline: 1px solid red;
}

main > #register-client-form button {
  height: calc(1rem + 15px);
  padding: 0px 8px;
  border-radius: 4px;
  border: none;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease;
}

main > #register-client-form button:hover {
  background-color: #555;
}

main > #register-client-form input {
  border: 1px solid #222;
  border-radius: 4px;
}

main > #register-client-form > *:first-child {
  margin-top: auto;
}

main > #register-client-form > *:first-child button {
  width: 32px;
  height: 32px;
}

main > #register-client-form > *:last-child {
  margin-bottom: auto;
}

main > #register-client-form > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

main > #register-client-form > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 64px;
}

main > #register-client-form > div:nth-child(2) > div > * {
  flex: 1;
}

#client-name,
#client-type {
  text-align: center;
  flex: 1
}