{% extends 'bankingsys/index.html' %}

{% block header %}
  <h1>Sistema Bancario - Vista de Cuentas</h1>
{% endblock %}

{% block content %}
  {% if accounts %}
    <section>
      <h1>Vista de Cuentas</h1>
      <table>
        <thead>
          <tr>
            <th>N°</th>
            <th>Cliente</th>
            <th>Tipo de Cuenta</th>
            <th>Moneda</th>
            <th>Saldo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts %}
          <tr>
            <td>{{ account.account_number }}</td>
            <td>{{ account.client.name }}</td>
            <td>{{ account.get_account_type_display }}</td>
            <td>{{ account.currency }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.get_status_display }}</td>
            <td>
              <a href="{% url 'bankingsys:account_edit' account.id %}">Editar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
    <p>No hay cuentas disponibles.</p>
  {% endif %}
{% endblock %}