{% extends 'bankingsys/index.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/judicial_hold/register.css' %}?v=1">
{% endblock %}

{% block header %}
  <h1>Sistema Bancario - Registro de Embargos</h1>
{% endblock %}

{% block content %}
  <section id="judicial-hold-register-section">
    <div class="actions-bar">
      <input type="text">
    </div>
    <div>
      {% for client in clients %}
        <div class="client-card">
          <div class="client-info">
            <h3>{{ client.name }}</h3>
            <div>
              {% if client.dni %}
                <p>DNI: {{ client.dni }}</p>
              {% elif client.ruc %}
                <p>RUC: {{ client.ruc }}</p>
              {% endif %}
              <p>{{ client.get_client_type_display }}</p>
            </div>
          </div>
          <div class="account-list">
            {% for account in client.account_set.all %}
              <form action="{% url 'bankingsys:judicial_hold_register_form' %}" method="post" class="account-card-form">
                {% csrf_token %}
                <div>
                  <p>{{ account.account_number }}</p>
                  <p>{{ account.get_account_type_display }}</p>
                </div>
                <input type="hidden" name="account" value="{{ account.id }}">
                <div>
                  <p>{{ account.balance }}</p>
                  <p>{{ account.currency }}</p>
                </div>
              </form>
            {% empty %}
              <div>No hay cuentas asociadas.</div>
            {% endfor %}
          </div>
        </div>
      {% empty %}
        <div>No hay clientes registrados.</div>
      {% endfor %}
    </div>
  </section>
{% endblock %}